@font-face {
    font-family: montserrat-regular;
    src: url(./assets/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-Light;
    src: url(./assets/Montserrat/Montserrat-Light.ttf);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: montserrat-light, arial;
}

body {
    margin: 0;
}

header {
    background-image: url(./assets/background1.jpg);
    background-size: cover;
    padding-top: 25px;
    height: 100svh;
    color: white;
    position: sticky;
    top: 0;
    z-index: 0;
}

.header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 18px;
    padding: 0px 50px;
    box-shadow: 0 0 18px rgba(128, 128, 128, 0.7);
    transition: 0.1s ease-in-out;
}

.header:hover{
    box-shadow: 0 0 25px rgba(128, 128, 128, 0.7);
}


.header ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
}

.header-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: auto;
    margin-top: 15%;
}

.header-banner h1  {
    font-size: 10rem;
}

.header-banner h2   {
    font-size: 4rem;
    padding-left: 1rem;
}

.header-banner :is(h1, h2) {
    margin: 0;
}

article {
    color: white;
    background-color: #131316;
    margin: 0;
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.article-main h1 {
    font-size: 9em;
    margin-bottom: 10%;
}

.article-text {
    font-size: 1.5em;
    margin: 0.5em;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (max-width: 500px) {

    .header ul {
        display: none;
    }

    .header-banner h1 {
        font-size: 6.5rem;
        margin-bottom: 3rem;
    }

    .header-banner h2 {
        font-size: 2rem;
    }

    .article-main h1 {
        font-size: 7rem;
    }
}



