* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-image: url(./assets/background1.jpg);
    background-size: cover;
    padding-top: 25px;
    height: 100dvh;
    color: white;
}

.header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 18px;
    padding: 0px 50px;
    box-shadow: 0 0 18px rgba(128, 128, 128, 0.7);
    transition: 0.1s ease-in-out;
}

.header:hover{
    box-shadow: 0 0 25px rgba(128, 128, 128, 0.7);
}


.header ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
}

.header-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: auto;
    margin-top: 10%;
}

.header-banner h1 strong {
    font-size: 10rem;
}

.header-banner h2 strong  {
    font-size: 4rem;
    padding-left: 20px;
}

.header-banner h1,
.header-banner h2 {
    margin: 0;
}







